head
  link(href="stylesheets/photos.css" rel="stylesheet")
  meta(name="viewport" content="width=device-width, initial-scale=1")
.content
  for picture in photos
    .post
      .imageContainer
        img(src='images/'+picture.filename alt=picture.title)
